[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "weatherjoin"]
	path = weatherjoin
	url = https://github.com/hauae/weatherjoin
